<% provide(:title, "Search") %>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: 'sources/search_form' %>
    </div>
  </div>
  <br />
<div class="row">
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="file-manager">

            <h5>Sources count</h5>
            <div id='sources-count'>
              <%= current_user.sources.count %>
            </div>
                <h5>Tracks</h5>
                <ul class="folder-list" style="padding: 0">
                    <li><a href=""><i class="fa fa-square"></i> Web development</a></li>
                    <li><a href=""><i class="fa fa-square"></i> UX</a></li>
                    <li><a href=""><i class="fa fa-square"></i> Web design</a></li>
                    <li><a href=""><i class="fa fa-square"></i> Marketing online</a></li>
                </ul>
                <h5 class="tag-title">Goals</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a href="">Ruby</a></li>
                    <li><a href="">Javascript</a></li>
                    <li><a href="">Photoshop</a></li>
                    <li><a href="">SEO basics</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 animated fadeInRight">
<div class="row">
<div class="col-lg-12">
  <% if @sources.present? %>
    <h2><%= @resources.count %> results found for: <span class="text-navy">“<%= @query_word %>”</span></h2><br />
    <% @sources.each do |source| %>
      <%= render partial: 'sources/search_item', locals: { resource: source }  %>
    <% end %>
  <% end %>
  <% if @source && !@source.errors.empty? %>
      <%= render partial: 'sources/search_item', locals: { resource: @source }  %>
  <% end %>
</div>
</div>
</div>
</div>
</div>
