<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="image">
              <img class="pull-left width-3" src="<%= resource.image_link(:zoom => 2) %>" alt="Resource item">
            </div>
            <div class="file-name">
              <a href="<%= resource.preview_link %>">
                <%= resource.title %>
              </a>
              <br />
              <small>
                 <%= resource.published_date %> <br />
                 <%= resource.description %>
              </small>
            </div>
        </a>
    </div>
</div>
